<div id="scrolly-1">
    <div class="scroll-wrapper">
        <div class="scroll-inner">
            <svg id="data-viz"> 
            </svg>
        </div>
        <div class="scroll-text">
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <h3>Wine</h3>
                    <p>Wine is the UK’s biggest food import, totalling more than $xbn per year. Thanks to Britain’s taste for champagne, France is firmly at the top of Britain’s biggest wine importers. It’s no surprise that champagne manufacturers are concerned about an influx of ‘British champagne’ after Brexit, unless the UK signs up to protect the names of thousands of European products.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div"> 
                    <h3>Cheese</h3>
                    <p>Mozzarella, brie, feta, halloumi and hundreds of other European cheeses have become staples in British food shops, making cheese one of Britain’s biggest EU food imports. But it’s Ireland that is the unlikely top exporter of cheese to the UK, with more than $300m of Irish cheese coming into Britain each year.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <h3>Bacon and ham</h3>
                    <p>Denmark’s bacon makes it the top exporter of bacon and ham to the UK, closely followed by the Netherlands, Germany and Italy. </p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div"> 
                    <h3>Frozen potatoes</h3>
                    <p>4</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div"> 
                    <h3>Tomatoes</h3>
                    <p>5</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <h3 style="color: #00b2ff;">Distilled alcoholic beverages</h3> 
                    <p>6</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div"> 
                    <h3 style="color: #00b2ff;">Chocolate products</h3> 
                    <p>7</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <h3 style="color: #000;">What about everything else?</h3> 
                    <p>The Food and Agriculture Organisation collect trade data for more than 300 categories of food and drink. Explore the EU imports and exports for your weekly shop: </p> 
                    <div class="dropdown">
                        <div class="dropdown-1"></div>
                        <div class="dropdown-2"></div>
                    </div>  
                </div>
            </div>
            <div class="scroll-text__inner">
                <!-- <div class="scroll-text__div">
                    <h3 style="color: #000;">What about everything else?</h3> 
                    <p>The Food and Agriculture Organisation collect trade data for more than 300 categories of food and drink. Explore the EU imports and exports for your weekly shop: </p> 
                    <div class="dropdown">
                        <div class="dropdown-1"></div>
                        <div class="dropdown-2"></div>
                    </div>  
                </div> -->
            </div>
        </div>
    </div>
</div>