<div class="i-wrapper">
    {{> header}}
    <div class="i-main">
        {{#body.blocks}}
            {{#copy}}
                {{#text}}
                    <p>{{{.}}}</p>
                {{/text}}
            {{/copy}}
            {{#graphic}}
                <figure class="element element-interactive interactive weighting--{{weighting}}" data-interactive="https://interactive.guim.co.uk/embed/iframe-wrapper/0.1/boot.js" data-canonical-url="{{url}}" data-alt="Parliament restoration graphic">
                    <a href="{{url}}" data-link-name="in body link" class="u-underline"></a>
                </figure>
            {{/graphic}}  
            {{#scrolly}}
                <div id="scrolly-1" class="weighting--full">
                    <div class="scroll-wrapper">
                        <div class="scroll-inner">
                            <svg id="data-viz"> 
                            </svg>
                        </div>
                        <div class="scroll-text">
                            {{#boxes}}
                                <div class="scroll-text__inner">
                                    <div class="scroll-text__div"> 
                                        <h4 class="{{tag}}">{{tag}}</h4>
                                        <h3>{{title}}</h3> 
                                        <p>{{{copy}}}</p>
                                    </div>
                                </div>
                            {{/boxes}}
                            <div class="scroll-text__inner">
                                <div class="scroll-text__div">
                                    <h3>What about everything else?</h3> 
                                    <p>The Food and Agriculture Organisation collect trade data for more than 300 categories of food and drink. Explore the EU imports and exports for your weekly shop: </p> 
                                    <div class="dropdown">
                                        <div class="dropdown-1"></div>
                                        <div class="dropdown-2"></div>
                                    </div>  
                                </div>
                            </div>
                            <div class="scroll-text__inner"> 
                            </div>
                        </div> 
                    </div> 
                </div>
                {{/scrolly}} 
                {{#ternary}}
                <div class="ternary-plot">
                    {{#text}}
                        <p>{{{.}}}</p>
                    {{/text}}
                    <div class="interactive-wrapper">
                        <div class="mouse-overlay" style="display: none;">
                            <div class="bars-wrapper">
                    
                            </div>
                        </div>
                    </div>
                </div>
                {{/ternary}}
            
        {{/body.blocks}}
    </div>
    <div class="i-related-content">
        {{{relatedContent}}}
    </div>
</div>