<div class="i-wrapper">
    {{> header}}
    <div class="i-main">
        {{#body.blocks}}
            {{#copy}}
                {{#text}}
                    <p>{{{.}}}</p>
                {{/text}}
            {{/copy}}
            {{#graphic}}
                <figure class="element element-interactive interactive weighting--{{weighting}}" data-interactive="https://interactive.guim.co.uk/embed/iframe-wrapper/0.1/boot.js" data-canonical-url="{{url}}" data-alt="Parliament restoration graphic">
                    <a href="{{url}}" data-link-name="in body link" class="u-underline"></a>
                </figure>
            {{/graphic}}  
            {{#slot}}
            <div id="scrolly-1" class="weighting--full">
                    <div class="scroll-wrapper">
                        <div class="scroll-inner">
                            <svg id="data-viz"> 
                            </svg>
                        </div>
                        <div class="scroll-text">
                            <div class="scroll-text__inner">
                                <div class="scroll-text__div">
                                    <h4 class="imports">Imports</h4>
                                    <h3>Wine</h3>
                                    <p>Wine is the UK’s biggest food import, totalling more than $xbn per year. Thanks to Britain’s taste for champagne, France is firmly at the top of Britain’s biggest wine importers. It’s no surprise that champagne manufacturers are concerned about an influx of ‘British champagne’ after Brexit, unless the UK signs up to protect the names of thousands of European products.</p>
                                </div>
                            </div>
                            <div class="scroll-text__inner">
                                <div class="scroll-text__div"> 
                                    <h4 class="imports">Imports</h4>
                                    <h3>Cheese</h3>
                                    <p>Mozzarella, brie, feta, halloumi and hundreds of other European cheeses have become staples in British food shops, making cheese one of Britain’s biggest EU food imports. But it’s Ireland that is the unlikely top exporter of cheese to the UK, with more than $300m of Irish cheese coming into Britain each year.</p>
                                </div>
                            </div>
                            <div class="scroll-text__inner">
                                <div class="scroll-text__div">
                                    <h4 class="imports">Imports</h4>
                                    <h3>Bacon and ham</h3>
                                    <p>Denmark’s bacon makes it the top exporter of bacon and ham to the UK, closely followed by the Netherlands, Germany and Italy. </p>
                                </div>
                            </div>
                            <div class="scroll-text__inner">
                                <div class="scroll-text__div"> 
                                    <h4 class="imports">Imports</h4>
                                    <h3>Frozen potatoes</h3>
                                    <p>Frozen potato products are the largest category of UK potato imports, and 99% of those imports come from the EU. </p>
                                </div>
                            </div>
                            <div class="scroll-text__inner">
                                <div class="scroll-text__div"> 
                                    <h4 class="imports">Imports</h4>
                                    <h3>Tomatoes</h3>
                                    <p>Britain imports more than $xbn of fresh tomatoes every year. Many of them come from the Netherland’s super-efficient tomato greenhouses, which produce more tomatoes per square mile than any other country in the world.</p>
                                </div>
                            </div>
                            <div class="scroll-text__inner">
                                <div class="scroll-text__div">
                                    <h4 class="exports">Exports</h4>
                                    <h3>Distilled alcoholic beverages</h3> 
                                    <p>Brexiteers insist that in the event of a no-deal Brexit, Britain wouldn’t impose import tariffs on food coming from the EU, but imports are only one side of the coin. The EU is their biggest market for thousands of British food exporters, and tariffs are an inevitability if Britain leaves without a deal. Britain’s top export is distilled alcoholic spirits – British gin and Scotch whisky, which makes up more than $2bn of EU exports every year.</p>
                                </div>
                            </div>
                            <div class="scroll-text__inner">
                                <div class="scroll-text__div"> 
                                    <h4 class="exports">Exports</h4>
                                    <h3>Chocolate products</h3> 
                                    <p>Exports of British chocolate to the EU have continued to grow in recent years, even with Brexit approaching. Ireland is the top destination for British chocolate exports.</p>
                                </div>
                            </div>
                            <div class="scroll-text__inner">
                                <div class="scroll-text__div">
                                    <h3>What about everything else?</h3> 
                                    <p>The Food and Agriculture Organisation collect trade data for more than 300 categories of food and drink. Explore the EU imports and exports for your weekly shop: </p> 
                                    <div class="dropdown">
                                        <div class="dropdown-1"></div>
                                        <div class="dropdown-2"></div>
                                    </div>  
                                </div>
                            </div>
                            <div class="scroll-text__inner">
                                <!-- <div class="scroll-text__div">
                                    <h3 style="color: #000;">What about everything else?</h3> 
                                    <p>The Food and Agriculture Organisation collect trade data for more than 300 categories of food and drink. Explore the EU imports and exports for your weekly shop: </p> 
                                    <div class="dropdown">
                                        <div class="dropdown-1"></div>
                                        <div class="dropdown-2"></div>
                                    </div>  
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ternary-plot">
                    <h2>Almost all of the spinach, chillies and tomatoes consumed in the UK are imported from the EU</h2>
                    <p>Leo integer malesuada nunc vel risus commodo. Lacus viverra vitae congue eu. Mauris ultrices eros in cursus turpis massa tincidunt dui ut. Aliquam vestibulum morbi blandit cursus risus at ultrices mi tempus. Enim nec dui nunc mattis enim. Feugiat nisl pretium fusce id velit. Purus semper eget duis at tellus at urna.</p>
                    <div class="interactive-wrapper">
                        <div class="mouse-overlay" style="display: none;">
                            <div class="bars-wrapper">
                    
                            </div>
                        </div>
                    </div>
                </div>
            {{/slot}}
            
        {{/body.blocks}}
    </div>
    <div class="i-related-content">
        {{{relatedContent}}}
    </div>
</div>