@import "mq";
@import "fonts";
@import "palette";
@import "scrolly";
@import "immersive";

// Uncomment for embeds
//@import "embed";
// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

.element-atom,
.interactive-atom {
    margin: 0 !important;
    
    // text {
    //     font-family: "Guardian Text Sans Web";
    //     font-size: 14px;
    //     font-weight: 300;
    // }

    .x-axis text {
        transform: rotate(45deg) translateX(15px);
    }

    .y-axis text {
        transform: rotate(45deg) translateX(-15px);
    }

    svg {
        overflow: visible;
        circle {
            transition: fill-opacity 0.33s ease-in-out;
            // filter:url('#goo');
        }
        circle:hover {
            fill-opacity: 0.25 !important;
        }

        // border-top: 1px solid #dcdcdc;
        // border-bottom: 1px solid #dcdcdc;
    }
}

.dropdown {
    // position: absolute;
    // top: 72px;
    // display: none;
}

.imports {
    @include fs-textSans(2);
    font-weight: bold;
    // font-weight: 400;
    color: #ffbb50;
    margin-bottom: 2px;
}

.exports {
    @include fs-textSans(2);
    font-weight: bold;
    // font-weight: 400;
    color: #00b2ff;
    margin-bottom: 2px;
}

#data-viz {
    background-color: #fff;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}

// svg path {
//     fill: none;
//     stroke: #ddd;
//     stroke-dasharray: 2,2;
//     stroke-width: 2px;
//     stroke-linecap: round;
// }

@keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }

svg .animated-line {
    stroke-dashoffset: 1000000;
    stroke-dasharray: 1,50 !important;
    animation: dash 20000s linear infinite !important;
    stroke-linecap: round;
}

svg .animated-line--reverse {
    stroke-dashoffset: 1000000;
    stroke-dasharray: 1,50 !important;
    animation: dash 20000s linear infinite reverse !important;
    stroke-linecap: round;
}

.country-name {
    @include fs-textSans(1);
    font-size: 12px;
    // fill: #333;
    stroke: white;
    paint-order: stroke;
    stroke-width: 2px;
    // text-transform: uppercase;
}

.country-name--number {
    // font-family: "Droid Sans Mono";
    // text-transform: uppercase;
    fill: #767676;
}

.big-label {
    @include fs-titlepiece(1);
}

.circles {
    position: absolute;
    border-radius: 1000px;
    overflow: hidden;
    // border: 1px solid #000;

    transform: translateX(-50%);
    box-sizing: border-box;

    &::after {
        content: '';
        display: block;
        background-image: url("<%= path %>/assets/banana.png");
        width: 100%;
        height: 100%;
        background-size: 95% 95%;
        background-repeat: no-repeat;
        background-position: center center;
    }

    &:nth-of-type(2n) {
        &::after {
            content: '';
            display: block;
            background-image: url("<%= path %>/assets/chicken.png");
            width: 100%;
            height: 100%;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }
}

.tick {
    border-left: 1px solid #dcdcdc;
    position: absolute;
}

.labels {
    @include fs-textSans(3);
    position: absolute;
}

.wrapper {
    height: 4000px;
    position: relative;
}

.dropdown-1 select, .dropdown-2 select {
    font-size: 16px;
    line-height: 20px;
    @include fs-headline(2);
    // font-weight: 900;
    background-color: #dcdcdc;
    border-radius: 0px;
    border: 0;
    height: 35px;
    outline: 0;
    // margin: 0 10px;
    margin-right: 10px;
    padding-left: 5px;
    width: 100%;
    margin-bottom: 12px;
    cursor: pointer;
}

.dropdown-1, .dropdown-2 {
    display: inline-block;
    // width: 48%;
    padding-right: 10px;
    box-sizing: border-box;
}

.dropdown-1::before {
    display: block;
    content: "Choose a food item";
    @include fs-textSans(2);
    font-weight: bold;
    padding-bottom: 4px;
}

.dropdown-2::before {
    display: block;
    content: "Show imports or exports?";
    @include fs-textSans(2);
    font-weight: bold;
    padding-bottom: 4px;
}

.interactive-wrapper svg text {
    @include fs-textSans(2);
    
}

.interactive-wrapper {
    position: relative;
}

.mouse-overlay {
    pointer-events: none;
    position: absolute;
    width: 200px;
    // height: 400px;
    padding: 6px 5px;
    left: 0px;
    top: 0px;
    // background-color: red;
    border: 1px solid #000;
    box-shadow: 3px 3px 0 0 #eaeaea;
    padding-bottom: 12px;
    background-color: #fff;
    padding-bottom: 36px;
    
    .bar-stack {
        display: inline-block;
        // height: 12px;
        width: 32%;
        // border: 1px solid #000;
        background-color: #c70000;
        // margin-top: 12px;
        margin-top: 24px;
        border-bottom: 1px solid #000;
 
        &::before {
            @include fs-textSans(3);
            width: 300px;
            content: attr(data-label);
            display: block;
            position: absolute;
            bottom: 22px;
            width: 32%;
            // text-align:

        }

        &::after {
            @include fs-textSans(3);
            width: 300px;
            content: attr(data-perc);
            display: block;
            position: absolute;
            bottom: 6px;
            width: 32%;
            color: #c70000;
            // text-align:

        }
    }

    .bar-stack:nth-of-type(2) {
        background-color: #ffb500;

        &::after {
            color: #ffb500;
        }
    }

    .bar-stack:nth-of-type(3) {
        background-color: rgb(0, 178, 255);

        &::after {
            color: rgb(0, 178, 255);
        }
    }

    h4 {
        @include fs-header(1);
        margin: 0;
        margin-bottom: -0px;
        border-bottom: 1px solid #dcdcdc;
        padding-bottom: 6px;
    }
}