@import "mq";
@import "fonts";
@import "palette";

// Uncomment for embeds
//@import "embed";
// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

.element-atom,
.interactive-atom {
    margin: 0 !important;
    
    text {
        font-family: "Guardian Text Sans Web";
        font-size: 14px;
        font-weight: 300;
    }

    .x-axis text {
        transform: rotate(45deg) translateX(15px);
    }

    .y-axis text {
        transform: rotate(45deg) translateX(-15px);
    }

    svg {
        overflow: visible;
        circle {
            transition: fill-opacity 0.33s ease-in-out;
        }
        circle:hover {
            fill-opacity: 0.25 !important;
        }
    }
}
